* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 1.5fr 1.5fr 0.8fr;
  grid-template-rows: 130px 200px 200px 200px;
}
.dashboard_sidebar {
  background-color: rgb(0, 153, 255);
  grid-row: 1/5;
  grid-column: 1/2;
}
.header {
  background-color: #fff;
  grid-row: 1/2;
  grid-column: 2/5;
  display: grid;
  grid-template-rows: 10.8fr 1fr;
  box-shadow: -1px 8px 13px -8px rgb(0 0 0 / 40%);
  z-index: 1;
}
.main_container {
  background-color: rgb(234, 234, 234);
  grid-row: 2/5;
  grid-column: 2/5;
}

.logo {
  display: flex;
  align-items: center;
  padding: 8px 20px 20px 10px;
}

.logo p,
.logo span {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.logo span {
  padding-right: 10px;
  font-size: 38px;
}

.sidebar-list {
  padding-left: 40px;
}

.sidebar-list ul {
  list-style-type: none;
}

.sidebar-list ul li {
  padding: 10px 0px 10px 0px;
}

.sidebar-list ul li span {
  padding-right: 12px;
}

.sidebar-list ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.main_list_items {
  padding-bottom: 50px;
}

.top {
  background-color: #fff;
  display: flex;
  align-items: center;
}
.top_avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 30px;
}
.mdi-bell {
  margin-left: auto;
  font-size: 20px;
}
.mdi-magnify {
  font-size: 20px;
  margin-left: 30px;
}
#search_input {
  border: 0px;
  width: 540px;
  background-color: rgb(234, 234, 234);
  margin: 10px;
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
}
.top p {
  font-weight: 600;
  font-size: 16px;
  margin-right: 60px;
  margin-left: 20px;
}

.bottom {
  background-color: #fff;
  display: flex;
  align-items: center;
}

.bottom_avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
}
.avatar_main {
    display: flex;
    align-items: center;
    margin-left: 40px;
    padding-bottom: 10px;
}
.avatar_text .welcome {
    font-size: 13px;
    font-weight: 600;
}
.avatar_text .avatar_name{
    font-size: 20px;
    font-weight: 800;
}
.header_buttons{
    margin-left: auto;
    margin-right: 80px;
    display: flex;
    gap: 40px;
}
.header_buttons button{
    border: 0px;
    background-color: rgb(0, 153, 255);
    color: #fff;
    padding: 8px 20px 8px 20px;
    border-radius: 15px;
}
