* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
body {
  /* overflow: hidden; */
}
.container {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 1.5fr 1.5fr 0.8fr;
  grid-template-rows: 150px 1fr 1fr 1fr 50px;
}
.dashboard_sidebar {
  background-color: rgb(0, 153, 255);
  grid-row: 1/5;
  grid-column: 1/2;
}
.header {
  background-color: #fff;
  grid-row: 1/2;
  grid-column: 2/5;
  display: grid;
  grid-template-rows: 1.8fr 1fr;
  box-shadow: -1px 8px 13px -8px rgb(0 0 0 / 40%);
  z-index: 1;
}
.main_container {
  background-color: rgb(219, 235, 255);
  grid-row: 2/5;
  grid-column: 2/5;
}
.copyright {
  grid-column: 1/5;
  grid-row: 5/6;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 50);
}
.copyright p, .copyright a{
  color: #fff;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  padding: 8px 20px 20px 10px;
}

.logo p,
.logo span {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.logo span {
  padding-right: 10px;
  font-size: 38px;
}

.sidebar-list {
  padding-left: 40px;
}

.sidebar-list ul {
  list-style-type: none;
}

.sidebar-list ul li {
  padding: 10px 0px 10px 0px;
}

.sidebar-list ul li span {
  padding-right: 12px;
}

.sidebar-list ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.main_list_items {
  padding-bottom: 50px;
}

.top {
  background-color: #fff;
  display: flex;
  align-items: center;
}
.top_avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 30px;
}
.mdi-bell {
  margin-left: auto;
  font-size: 20px;
}
.mdi-magnify {
  font-size: 20px;
  margin-left: 30px;
}
#search_input {
  border: 0px;
  width: 540px;
  background-color: rgb(219, 235, 255);
  margin: 10px;
  padding: 8px 15px 8px 15px;
  border-radius: 15px;
}
.top p {
  font-weight: 600;
  font-size: 16px;
  margin-right: 60px;
  margin-left: 20px;
}

.bottom {
  background-color: #fff;
  display: flex;
  align-items: center;
}

.bottom_avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 20px;
}
.avatar_main {
  display: flex;
  align-items: center;
  margin-left: 40px;
  padding-bottom: 10px;
}
.avatar_text .welcome {
  font-size: 13px;
  font-weight: 600;
}
.avatar_text .avatar_name {
  font-size: 20px;
  font-weight: 800;
}
.header_buttons {
  margin-left: auto;
  margin-right: 80px;
  display: flex;
  gap: 30px;
}
.header_buttons button {
  border: 0px;
  background-color: rgb(0, 153, 255);
  color: #fff;
  padding: 8px 20px 8px 20px;
  border-radius: 15px;
}

.main_container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.card {
  background-color: #fff;
  margin: 15px;
  border-radius: 8px;
  padding: 15px;
  border-left: 6px solid rgb(255, 21, 0);
  box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.2);
}
.card_pallete {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 0.2fr 1fr 1fr;
  grid-gap: 2px;
}
.project_title {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 15px 0px 5px 18px;
  font-weight: 800;
}
.card .title {
  font-size: 16px;
  padding-bottom: 10px;
}
.card .description {
  font-size: 13px;
}
.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  margin-bottom: 5px;
}
.actions span {
  margin-left: 7px;
  margin-right: 7px;
  font-size: 20px;
}
.secondary_sidebar {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.announcements {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.announcement_title,
.trending_title {
  text-transform: capitalize;
  font-weight: 800;
  padding-bottom: 10px;
  margin-left: 5px;
}
.announcement-cards {
  box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.2);
}
.announcement-cards,
.trending_card {
  background-color: #fff;
  border-radius: 10px;
  margin-right: 50px;
}
.announcement-cards h2 {
  font-size: 14px;
  margin-bottom: 5px;
}
.announcement-cards p {
  font-size: 11px;
}
.announcement_card {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.trending {
  margin-left: 20px;
}
.trending_card {
  box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.2);
}
.trending_avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.trending_card_1 {
  display: flex;
  padding: 10px;
  gap: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.trending_username {
  font-size: 14px;
  font-weight: 800;
}
.trending_name {
  font-size: 12px;
  padding: 4px;
}
